*{
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  
}

input{
  padding: 10px;
  border: 3px solid rgb(20, 19, 19);
  border-radius: 20px;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
}

.custome-place-holder::placeholder {
  color: #3b3e3f5f; /* This is a dim gray color. Adjust as needed */
  opacity: 1; /* Ensure opacity is 1 so the color is not further dimmed */
}


select{
  padding: 10px;
  border: 1px solid rgb(95, 93, 93);
  border-radius: 10px;
  font-size: 16px;
  margin: 10px;
}